{% extends 'base.html.twig' %}

{% block title %}Todolzer App{% endblock %}

{% block body %}
  <h1 class="title">
    Welcome to Todolizer
  </h1>
  <p class="subtitle">
    Create and organize your To-Do list!
  </p>
{% endblock %}
